body{
  height: 2000px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
  background-color: rgba(255, 249, 62, 0.225);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); 
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: fixed; */
  top:0;
  width: 100%;
  height: 60px;
  padding: 1rem;
}

nav .menu-items{
  display: flex;
  gap: 1.5rem;
}
nav .menu-items a{
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1.1rem;
}

.cards-wrapper{
  height: max-content;
  padding: 10px;
  display: flex;
  justify-content:space-around;
  gap: 20px;
  align-items: center;
  background-color: #f0f0f0;
}

.card{
  width: 200px;
  height: 300px;
  /* padding: 8px;
  border-radius: 10px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #ffffff;
}

.card:hover{
  cursor: pointer;
  box-shadow: 0 0 8px -2px;
}

.card img{
  width: 100%;
  height: 60%;
  object-fit: cover;
  /* border-radius: 10px; */
}

.card .card-info{
  padding: 10px;
  text-align: center;
}

.card .card-info h3{
  margin-bottom: 5px;
  font-size: 1.2rem;
  color: #be7f00;
}
.card .card-info p{
  font-size: 1rem;
  color: #7a5600d6;
}
